<mat-toolbar>
  <span><a routerLink="inicio"><img src="./assets/img/logo.png" alt="Logo do site"/></a></span>
  <span class="spacer"></span>
  <span><a class="toolbar-buttons" routerLink="inicio">Produtos</a></span> 
  <span><a routerLink="login" class="toolbar-buttons">Login</a></span>

  <form class="d-flex search-form" role="search">
    <input class="form-control me-2" type="search" placeholder="Pesquise aqui" aria-label="Search">
    <a class="toolbar-buttons"><span class="material-symbols-outlined">search</span></a>
  </form>
</mat-toolbar>
